@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
    --blanc : #FFFFFF;
    --violet-clair : #E3BAC6;
    --violet : #BC9EC1;
    --gris : #596475;
    --noir : #1F2232;
}

body{
    display: flex;
    justify-content: center;

    background-color: var(--noir);
    color: var(--blanc);

    font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 4px solid var(--noir);
    border-radius: 20px;
    
    box-shadow: 0 0 30px 0px var(--violet-clair);
    border : 2px solid var(--gris);
    
    padding: 5%;

    width: 60%;

    margin: 2.5% 10%;

}

h1 {
    margin: 0%;
    margin-bottom: 30px;
    padding-bottom: 5%;
    
    font-size: 4em;
    text-align: center;
    
    width: 100%;
    height: 100%;

    border-bottom: 3px solid var(--violet);
}
#sectionPrincipale{
    /* width: 100%; */
}

.recettes{
    display:grid;
    grid-template-columns: min-content 70px min-content 70px 1fr;
    align-items:center;
    justify-items:center;
}

.imagesBoissons{
    width: 5vw;
    border-radius: 10px;
    margin: 10px 0px;

    background-color: var(--blanc);

    box-shadow: 0 0 10px 0px var(--violet-clair);
}

.separateur{
    font-size: 3em;
    
    text-align: center;
}

.zoneVerres{
    /* width: 275px; */
    max-width: 275px;
    display:flex;
    flex-wrap:wrap;
}

.verres{
    width:50px;

    border-radius: 3px;

    margin: 2.5px;
}

h2{
    text-align: center;
    font-size: 2.5em;

    border-bottom: 3px solid var(--violet);
    border-top: 3px solid var(--violet);

    margin-top: 10%;

    padding-top: 5%;
    padding-bottom: 5%;
}

#restes{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    justify-items:center;
}


.total{
    display:grid;
    grid-template-columns: 1fr 10% 1fr;
    text-align: center;
    align-items:center;
    justify-items:center;
    margin: 10%;

    border-radius: 25px;
    box-shadow: 0 0 10px 0px var(--violet-clair);
    border : 2px solid var(--violet-clair);
}

.sommesFinales{
    font-size: 70px;
}

#verresTotaux{
    height: 7.5em;
}
#shotsTotaux{
    height: 7.5em;
}