body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris);

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;

    padding: 70px;

    border-radius: 25px;
    box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.595);

    background-color: var(--noir);

    color: var(--blanc);
}

select{
    margin: 1.5% 0;
    padding: 2.5%;

    border-radius: 25px;
    border: none;
    outline: none;

    background-image: linear-gradient(to right, var(--gris), var(--violet-fonce));

    font-family: 'Montserrat', sans-serif;
    color: var(--blanc);
}

select option{
    background-color: var(--noir);
    color: var(--blanc);
}


input{
    margin: 1.5% 0;
    padding: 2.5%;

    border-radius: 25px;
    border: none;
    outline: none;

    background-image: linear-gradient(to right, var(--gris), var(--violet-fonce));

    font-family: 'Montserrat', sans-serif;
    color: var(--blanc);

}

.btn{

    background-image: linear-gradient(to right, var(--violet-clair), var(--violet-fonce));
    
    padding-left: 10%;
    padding-right: 10%;
    margin : 0px 10px;

    color: var(--noir);

    cursor: pointer;

}
    
.btn:hover{
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.75);
    color: var(--blanc);
}

section {
    display: flex;
    justify-content: space-between;
}

a{
    margin: 1.5% 0;
    padding: 2.5%;


    border-radius: 25px;
    border: none;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    color: var(--blanc);
    text-decoration: none;

    font-size: 20px;


}

input[type="submit"] {
    font-size: 20px;
    justify-content: center;
}